* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: rgb(48, 47, 47);
}

/* Container Cabeçalho */
.cabecalho{
    color: white;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo {
    text-align: center;
}

.cabecalho h4{
    color: rgb(248, 68, 68);
    font-size: 15px;
    text-decoration: underline 3px rgba(255, 0, 0, 0.61);
    margin: 10px 0;
    text-transform: uppercase;
}

.cabecalho p {
    line-height: 30px;
}

.cabecalho p i{
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline 1px rgb(15, 114, 245);
    color: powderblue;
}
/* Contaioner Principal */
.principal {
    background-color: rgba(128, 128, 128, 0.788);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 800px;

    padding: 2em;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px white;



    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Container Jogo */
.container_jogador, .container_resultado, .container_computador {
    text-align: center;
}

/* Container Placar */
.container_resultado{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.container_placar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.placar {
    width: 120px;
    padding: 1em;
}

.placar h3{
    font-size: 20px;   

}

.placar p{
    margin: 50% 0;
    font-size: 60px;
}

span{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* Nome das abas */

.titulo_jogador {
    color: aqua;
}

.titulo_comp {
    color: rgba(0, 0, 0, 0.548);
}

/* Imagens */

.pedra, .papel, .tesoura{
    margin: 15px 0;
    transition: all 0.5s;
}

.pedra:hover, .papel:hover, .tesoura:hover {
    transform: scale(1.7);
}

.imagem_computador{
    margin: 50% 0;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}